rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /typeracer_scores/{document} {
      allow read: if true;
      allow create: if request.resource.data.name is string &&
                    request.resource.data.wpm is number &&
                    request.resource.data.errors is number &&
                    request.resource.data.timestamp != null;
      allow update, delete: if false;
    }
    match /typeracer_rooms/{document} {
      allow read, write: if true;
    }
  }
}
